<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" href="../../public/css/style.css" />
</head>
<body>
  <h3>Select a user to chat with</h3>

  <ul>
    <% users.forEach(u => { %>
      <li>
        <strong><%= u.name %></strong> (<%= u.email %>)
        <button onclick="startChat('<%= u._id %>')">Chat</button>
      </li>
    <% }) %>
  </ul>

  <script>
    function startChat(userId) {
      window.location.href = '/chat/' + userId;
    }
  </script>
</body>
</html>
